#*
 *  Copyright 2014-2019 Sorbonne Université, CNRS, LIP6, Paris, France
 *                      and Université Paris Nanterre, Nanterre, France
 *
 *  All rights reserved.   This program and the accompanying materials
 *  are made available under the terms of the Eclipse Public License v1.0
 *  which accompanies this distribution, and is available at
 *  http://www.eclipse.org/legal/epl-v10.html
 *
 *  Project leader / Initial Contributor:
 *    Lom Messan Hillah - <lom-messan.hillah@lip6.fr>
 *
 *#
 ------
Download PNML to NUPN Converter ${project.version}
 ------
 ------
2019-02-27
 ------

Download PNML to NUPN Converter ${project.version}

  This tools is distributed as a single jar, mainly to be used on the command line.
  However, you may also integrate it as a library in your application for whatever purpose.

* Single jar with all dependencies

  Download {{{./download/${project.artifactId}-${project.version}.jar}version ${project.version}}}.

  Usage information is available on the {{{./usage.html}dedicated page}}. 
  Check out release notes on the {{{./changelog.html}changelog page}}.

===

Previous stable versions

 * Download {{{./download/pnml2nupn-2.2.0.jar}version 2.2.0}}

 * Download {{{./download/pnml2nupn-2.1.0.jar}version 2.1.0}}

 * Download {{{./download/pnml2nupn-1.5.4.jar}version 1.5.4}}
 
 * Download {{{./download/pnml2nupn-1.5.2.jar}version 1.5.2}}
 
 * Download {{{./download/pnml2nupn-1.5.1.jar}version 1.5.1}}
 
 * Download {{{./download/pnml2nupn-1.5.0.jar}version 1.5.0}}
 
 * Download {{{./download/pnml2nupn-1.4.1.jar}version 1.4.1}}
 
 * Download {{{./download/pnml2nupn-1.4.0.jar}version 1.4.0}}
 
 * Download {{{./download/fr.lip6.move.pnml2nupn-1.3.1.jar}version 1.3.1}}

 * Download {{{./download/fr.lip6.move.pnml2nupn-1.3.0.jar}version 1.3.0}}

 * Download {{{./download/fr.lip6.move.pnml2bpn-1.2.2.jar}version 1.2.2}}

 * Download {{{./download/fr.lip6.move.pnml2bpn-1.2.1.jar}version 1.2.1}}

 * Download {{{./download/fr.lip6.move.pnml2bpn-1.1.11.jar}version 1.1.11}}

===

Previous unstable versions (no more proposed for download)

 * 2.0.0: bug in the generated NUPN

 * 1.5.3: bug in outputting the unique initial place ID (see changelog for version 1.5.4)

Requirements

  * Runs on Java 1.7+
  
  * This tool was successfully run on Mac OS from 10.9.2 to 10.14.3. The integrated Bounds tool was compiled on
Mac OS 10.8. Therefore, <<there is no guaranty that it will successfully run on Linux, not even mentioning Windows>>.
There is currently no plan to release a version specifically for Windows or Linux, until we get the opportunity to do so.
     
 
