~~
~~  Copyright 2014 Universite Paris Ouest Nanterre & Sorbonne Universites, Univ. Paris 06 - CNRS UMR 7606 (LIP6/MoVe)
~~  All rights reserved.   This program and the accompanying materials
~~  are made available under the terms of the Eclipse Public License v1.0
~~  which accompanies this distribution, and is available at
~~  http://www.eclipse.org/legal/epl-v10.html
~~
~~  Project leader / Initial Contributor:
~~    Lom Messan Hillah - <lom-messan.hillah@lip6.fr>
~~
~~  Contributors:
~~    ${ocontributors} - <$oemails}>
~~
~~  Mailing list:
~~    lom-messan.hillah@lip6.fr
~~

 ------
Changelog of PNML to BPN Converter ${project.version}
 ------
 ------
2014-02
 ------

Changelog

* What's new in version ${project.version}?

  * Bug fix on querying initial markings and non-marked place$
  
  * Bug fix on cleaning buffer in writing loop
  
  * Transformation fails in the case where there is no marked place, 
  and where there are more then one marked place.

* What's new in version 1.1.6?

  * Relies on Cami2Pnml 2.1.8

* What's new in version 1.1.5?

  * Handles the case where there is just one place (then just one unit, which is the root one)
  
  * Error message in the case there is no place (root unit must have at least 2 sub-units,
   if it does not contain any place).


* What's new in version 1.1.4?

  * Transformation is refined: 
  
  	* places numbered from 0
  	
  	* transitions are ordred
  	
  	* root unit is the last
  	
  	* id mappings are splitted in 2 files, one for states and the other for transitions
  	
  
  * Relies on Cami2PNML v2.1.6

* What's new in version 1.1.2?

  * Relies on Cami2PNML v2.1.5

* What's new in version 1.1.1?

  * Recursively scan directories, looking for PNML files.

* What's new in version 1.1.0?

  * Integration of the Bounds tool.

* What's new in version 1.0.0?

  * First stable release.
  
  []
 